* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  overflow: hidden;
}

:root {
  --background: #25283d;
  --main-text: #EAE8ED;
  --content: #ABA4B7;
  --highlight: #EC2A63;
}

body {
  font-family: aileron, sans-serif;
}

/* Nav Styling  */
.logo {
  width: 20%;
  margin-left: 5%;
}

.logo img {
  width: 50%;
  position: relative;
  left: 10%;
  top: 10%;
}

nav {
  background: var(--background);
  width: 100vw;
  min-height: 10vh;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav-links {
  width: 40%;
  height: 0;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  background: var(--background);
  position: absolute;
  top: 7vh;
  right: 0;
  transition: height 0.7s ease;
  z-index: 1;
  opacity: 0.9;
}

.active {
  height: 40vh;
}

.nav-links li {
  opacity: 0;
  color: var(--main-text);
}

@keyframes navLinkFade {
  from {
    opacity: 0;
    transform: translateY(-30px);
  }

  to {
    opacity: 1;
    transform: translateY(0px);
  }
}

.nav-links li {
  color: var(--main-text);
  list-style: none;
}

li a {
  color: var(--main-text);
  text-decoration: none;
}

.burger {
  margin-right: 10%;
}

.burger div {
  background-color: #03cdd1;
  width: 20px;
  height: 2px;
  margin: 5px;
  transition: all 0.4s ease;
}

.toggle .line1 {
  transform: rotate(-45deg) translate(-5px, 5px);
}

.toggle .line2 {
  opacity: 0;
}

.toggle .line3 {
  transform: rotate(45deg) translate(-5px, -5px);
}

/* Content Styling  */
.wrapper {
  width: 100vw;
  height: 70vh;
  background-color: var(--background);
  display: flex;
  justify-content: center;
  align-items: flex-start;
}

.card {
  width: 90%;
  margin-top: 5%;
}

.card h1 {
  color: var(--main-text);
  padding: 5% 0;
  font-size: 2em;
}

.card p {
  color: var(--content);
  line-height: 1.3;
}

br{
  display: block;
  content: '';
  margin-top: 5%;
}

footer {
  min-height: 10vh;
  width: 100vw;
  background: #171926;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

footer a {
  text-decoration: none;
}

footer p {
  color: var(--main-text);
  width: 50%;
  font-size: 0.7em;
  font-weight: 300;
  margin-left: 5%;
}

.icon-div {
  width: 40%;
  float: right;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
}

.icon {
  width: 40%;
}

.i-twitter {
  margin-top: 5px;
}

.i-youtube {
  margin-top: 7px;
}
