* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  overflow-x: hidden;
}

:root {
  --background: #25283d;
  --main-text: #EAE8ED;
  --content: #ABA4B7;
  --highlight: #EC2A63;
}

body {
  font-family: aileron, sans-serif;
}

.logo {
  width: 20%;
  margin-left: 5%;
  overflow: hidden;
}

.logo img {
  width: 50%;
  position: relative;
  left: 10%;
  top: 15%;
}

nav {
  background-color: var(--background);
  width: 100vw;
  min-height: 10vh;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav-links {
  width: 40%;
  height: 0;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  background: var(--background);
  position: absolute;
  top: 7vh;
  right: 0;
  transition: height 0.7s ease;
  z-index: 1;
  opacity: 0.9;
}

.active {
  height: 40vh;
}

.nav-links li {
  opacity: 0;
  color: var(--main-text);
}

@keyframes navLinkFade {
  from {
    opacity: 0;
    transform: translateY(-30px);
  }

  to {
    opacity: 1;
    transform: translateY(0px);
  }
}

li {
  list-style: none;
}

li a {
  text-decoration: none;
  color: var(--main-text);
}

.burger {
  margin-right: 10%;
}

.burger div {
  background-color: #03cdd1;
  width: 20px;
  height: 2px;
  margin: 5px;
  transition: all 0.4s ease;
}

.toggle .line1 {
  transform: rotate(-45deg) translate(-5px, 5px);
}

.toggle .line2 {
  opacity: 0;
}

.toggle .line3 {
  transform: rotate(45deg) translate(-5px, -5px);
}

main {
  height: 80vh;
  background: var(--background);
}

.wrapper {
  width: 90vw;
  margin-left: 5%;
  margin-top: 5vh;
}

.wrapper h2{
  color: var(--main-text);
  font-size: 2em;
}

.wrapper p {
  color: var(--content);
  font-size: 0.9em;
  margin-top: 2vh;
}

form {
  margin-top: 2vh;

}

input {
  display: block;
  background-color: var(--main-text);
  color: var(--main-text);
  margin: 1em 0;
  border: none;
  border-radius: 5px;
  line-height: 4;
  width:95%;
  text-indent: 5px;
}

input:focus, .message:focus {
  outline: none;
  background: var(--content);
}

.message {
  border-radius: 5px 5px;
  line-height: 1.5;
  font-family: aileron, sans-serif;
  background-color: var(--main-text);
  color: var(--main-text);
  width: 95%;
  padding: 5px;
}


.button {
  height: 10%;
  background-color: var(--highlight);
  color: var(--main-text);
}




footer {
  min-height: 10vh;
  width: 100vw;
  background: #171926;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

footer a {
  text-decoration: none;
}

footer p {
  color: var(--main-text);
  width: 50%;
  font-size: 0.7em;
  font-weight: 300;
  margin-left: 5%;
}

.icon-div {
  width: 40%;
  float: right;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
}

.icon {
  width: 40%;
}

.i-twitter {
  margin-top: 5px;
}

.i-youtube {
  margin-top: 7px;
}
