* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  overflow-x: hidden;
}

:root {
  --background: #25283d;
  --main-text: #EAE8ED;
  --content: #ABA4B7;
  --highlight: #EC2A63;
}

body {
  font-family: aileron, sans-serif;
}

/* Mobile Breakpoint Styling */
/* Nav Styling */
.logo {
  width: 20%;
  margin-left: 5%;
}

.logo img {
  width: 50%;
  position: relative;
  left: 10%;
  top: 15%;
}

nav {
  background-color: var(--background);
  width: 100vw;
  min-height: 10vh;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav-links {
  width: 40%;
  height: 0;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  background: var(--background);
  position: absolute;
  top: 7vh;
  right: 0;
  transition: height 0.7s ease;
  z-index: 1;
  opacity: 0.9;
}

.active {
  height: 40vh;
}

.nav-links li {
  opacity: 0;
  color: var(--main-text);
}

@keyframes navLinkFade {
  from {
    opacity: 0;
    transform: translateY(-30px);
  }

  to {
    opacity: 1;
    transform: translateY(0px);
  }
}

li {
  list-style: none;
}

li a {
  text-decoration: none;
  color: var(--main-text);
}

.burger {
  margin-right: 10%;
}

.burger div {
  background-color: #03cdd1;
  width: 20px;
  height: 2px;
  margin: 5px;
  transition: all 0.4s ease;
}

.toggle .line1 {
  transform: rotate(-45deg) translate(-5px, 5px);
}

.toggle .line2 {
  opacity: 0;
}

.toggle .line3 {
  transform: rotate(45deg) translate(-5px, -5px);
}

/* Hero Styling */
.hero-section {
  background: var(--background);
  height: 30vh;
  display: grid;
  grid-template-columns: 45% 55%;
}

.hero-image {
  position: relative;
}


.title {
  color: var(--main-text);
  position: absolute;
  top: 15%;
  right: 7%;
  font-size: 2em;
  letter-spacing: 2px;
  font-weight: 900;
}

.sub-title {
  color: var(--content);
  width: 50%;
  position: absolute;
  top: 23%;
  right: 7%;
  text-align: right;
  font-size: 0.9em;
  line-height: 1.4;
  font-weight: 300;
}

.hero-image {
  overflow: hidden;
}

.nick-image {
  width: 110%;
  position: relative;
  top: 10%;
  background: inherit;
}

/* Services / About Section  */
.about-section {
  width: 100vw;
  min-height: 50vh;
  background: var(--background);
  padding-top: 10%;
  display: grid;
  grid-row-gap: 5px;
  overflow: hidden;
}

.about-section h2 {
  color: var(--main-text);
  width: 90%;
  font-size: 1.3em;
  line-height: 1.3;
  margin-left: 5%;
  margin-bottom: 5%;
}

button {
  width: 100%;
  background: inherit;
  border: none;
  color: var(--main-text);
  font-size: 1.1rem;
  text-align: left;
  margin: 5px 10px;
  padding: 10px;
}

button:hover {
  cursor: pointer;
}

button:focus {
  outline: none;
}

.panel {
  overflow: hidden;
  max-height: 0;
  transition: max-height 1s ease-in-out;
  width: 90%;
}

.panel p {
  margin-left: 20px;
  margin-bottom: 20px;
  font-size: 0.9rem;
  line-height: 1.4;
  color: var(--content);
}

.panelActive {
  max-height: 20vh;
}

hr {
  border-width: 1px 0 0 0;
  border-color: var(--highlight);
  width: 90%;
  margin-left: 5%;
}

.arrow {
  width: 15px;
  float: right;
  margin-top: 5px;
  margin-right: 5%;
  transition: transform 0.3s ease;
}

.arrowActive {
  transform: scaleY(-1);
}

.about-link {
  color: var(--main-text);
  font-size: 0.8rem;
  position: relative;
  top: 10%;
  left: 5%;
}

/* YouTube Div */

.youtube {
  min-height: 45vh;
  background: var(--background);
}

.youtube h3 {
  color: var(--main-text);
  margin: 8% 5% 5%;
}

.youtube iframe {
  margin-left: 2.5%;
}

.youtube span {
  text-decoration: underline;
  text-transform: uppercase;
}

footer {
  min-height: 10vh;
  width: 100vw;
  background: #171926;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

footer a {
  text-decoration: none;
}

footer p {
  color: var(--main-text);
  width: 50%;
  font-size: 0.7em;
  font-weight: 300;
  margin-left: 5%;
}

.icon-div {
  width: 40%;
  float: right;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
}

.icon {
  width: 40%;
}

.i-twitter {
  margin-top: 5px;
}

.i-youtube {
  margin-top: 7px;
}
