* {
  margin: 0;
  padding: 0;
  overflow: hidden;
  box-sizing: border-box;
}

:root {
  --bg-color: #f1f9f5;
  --primary: #74c69d;
  --muted: #a6dac0;
}

body {
  font-family: "Tajawal", sans-serif;
  background: var(--bg-color);
}

/* NavBar Styling */

nav {
  width: 100vw;
  height: 10vh;
  background: var(--primary);
}

.nav-links {
  background: var(--primary);
  height: 0vh;
  width: 100%;
  position: absolute;
  top: 10vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  z-index: 2;
  transition: height 0.5s ease;
}

.activeLinks {
  height: 90vh;
}

.nav-links li {
  position: relative;
  bottom: 5%;
}

.nav-links a {
  color: black;
  text-decoration: none;
  text-transform: uppercase;
  font-size: 1.5em;
}

.burger {
  float: right;
  margin-right: 5%;
  margin-top: 5%;
  transition: transform 0.3s ease;
}

.burgerClick {
  transform: rotate(90deg);
}

.line {
  width: 20px;
  height: 2px;
  background-color: black;
  margin: 5px;
}

/* Hero Styling */

.color {
  height: 40vh;
  width: 100%;
  background: var(--primary);
  position: absolute;
  top: 10vh;
}

.wrapper {
  height: 90vh;
  width: 100%;
  z-index: 1;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.wrapper h1 {
  font-size: 7em;
  font-weight: 700;
  text-transform: uppercase;
  line-height: 0.9;
  position: relative;
  bottom: 8%;
}

.wrapper h2 {
  font-size: 2em;
  position: relative;
  right: 7%;
  bottom: 7%;
}

.wrapper p {
  font-size: 1.1em;
  position: relative;
  right: 5%;
  bottom: 7%;
  width: 40%;
}

.social-div {
  position: absolute;
  left: 15%;
  bottom: 3vh;
  height: 10%;
  width: 70%;
  background: var(--muted);
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  border-radius: 50px;
}

.social-div a {
  width: 10%;
}

.social-div img {
  width: 100%;
}
