* {
  margin: 0;
  padding: 0;
  overflow-x: hidden;
  box-sizing: border-box;
}

:root {
  --bg-color: #f1f9f5;
  --primary: #74c69d;
  --muted: #a6dac0;
}

body {
  font-family: "Tajawal", sans-serif;
  background: var(--bg-color);
  overflow: hidden;
}

/* NavBar Styling */

nav {
  width: 100vw;
  height: 10vh;
  background: var(--primary);
  z-index: 1;
}

.nav-links {
  background: var(--primary);
  height: 0vh;
  width: 100%;
  position: absolute;
  top: 10vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  z-index: 2;
  transition: height 0.5s ease;
}

.activeLinks {
  height: 90vh;
}

.nav-links li {
  position: relative;
  bottom: 5vh;
  opacity: 0;
}

@keyframes navLinkFade {
  from {
    opacity: 0;
    transform: translateY(-30px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.nav-links a {
  color: black;
  text-decoration: none;
  text-transform: uppercase;
  font-size: 1.5em;
}

.burger {
  float: right;
  margin-right: 5%;
  margin-top: 5%;
  transition: transform 0.3s ease;
}

.burgerClick {
  transform: rotate(90deg);
}

.line {
  width: 20px;
  height: 2px;
  background-color: black;
  margin: 5px;
}

/* Hero Styling */

main {
  height: 85vh;
  overflow: hidden;
}

.wrapper {
  height: 90vh;
  background: linear-gradient(var(--primary) 40%, var(--bg-color) 40%);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.wrapper h1 {
  font-size: 7em;
  text-transform: uppercase;
  font-weight: 700;
  line-height: 0.8;
  padding-top: 30px;
  position: relative;
  bottom: 8%;
  overflow: hidden;
}

.wrapper h2 {
  font-size: 2.4em;
  position: relative;
  right: 5%;
  bottom: 10%;
  overflow: hidden;
}

.wrapper p {
  font-size: 1.1em;
  position: relative;
  bottom: 12%;
  right: 8.5%;
  overflow: hidden;
}

.social-icons {
  width: 70%;
  height: 10%;
  background: var(--muted);
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  border-radius: 50px;
}

.social-icons a {
  width: 12%;
}

.icon {
  width: 100%;
}

.mouse-icon {
  display: none;
}

/* Projects Section */

.projects {
  min-height: 100vh;
  position: relative;
}

.projects h2 {
  font-size: 2.5rem;
  font-weight: 700;
  margin-left: 5%;
  overflow: hidden;
}

.card {
  width: 90%;
  max-width: 850px;
  max-height: 320px;
  background: var(--bg-color);
  border-radius: 10px;
  border: none;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 45% 55%;
  margin: 30px auto;
  box-shadow: 0 19px 69px -16px rgba(0, 0, 0, 0.19);
}

.card:hover {
  transform: translateY(-5px);
  transition: transform 0.3s ease;
}

.card-img {
  height: 100%;
  overflow: hidden;
}

.card-img img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.card-content {
  height: 100%;
  overflow: hidden;
}

.card h3 {
  overflow: hidden;
  font-size: 1.3em;
  font-weight: 700;
  margin-left: 5%;
  padding-top: 5%;
}

.card p {
  overflow: hidden;
  width: 90%;
  margin: 10px auto;
  line-height: 1.2;
  font-size: 0.9rem;
}

.launch {
  background: white;
  border: none;
  border-radius: 10px;
  width: 150px;
  height: 40px;
  font-weight: 700;
  box-shadow: 0 5px 40px 2px rgba(0, 0, 0, 0.1);
  margin: 5px 20px;
  padding-top: 5px;
}

.launch img {
  width: 15px;
  float: left;
  margin-left: 10%;
  margin-bottom: 5px;
}

.github-link {
  color: gray;
  text-decoration: underline;
  padding-top: 10px;
}

.cta-card {
  background: var(--primary);
  width: 90%;
  max-width: 850px;
  height: 30vh;
  margin: 20px auto;
  border-radius: 15px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.cta-card h4 {
  width: 75%;
  font-size: 1.5em;
  padding: 10px;
  font-weight: 700;
  text-align: center;
  margin-bottom: 20px;
}

.cta-btn {
  width: 40%;
  height: 20%;
  background: inherit;
  border: 2px solid black;
  border-radius: 5px;
  text-transform: uppercase;
  font-weight: 700;
  letter-spacing: 1px;
  text-decoration: none;
  color: black;
  display: flex;
  justify-content: center;
  align-items: center;
}

.cta-btn:focus {
  outline: none;
}

/* Footer Styling */

footer {
  display: grid;
  grid-template-columns: 40% 60%;
  height: 20vh;
  background: var(--muted);
}

.explore {
  display: flex;
  flex-direction: column;
  height: 100%;
  justify-content: center;
  margin-bottom: 10px;
}

.explore h5 {
  font-size: 1.1em;
  font-weight: 700;
  margin-top: 10px;
  margin-bottom: 5px;
  overflow: hidden;
  margin-left: 40px;
}

.explore a {
  color: gray;
  font-size: 0.8em;
  margin-left: 40px;
  overflow: hidden;
}

.attribution {
  padding-top: 40px;
  color: gray;
  font-size: 0.8em;
}

.attribution p {
  margin-bottom: 5px;
}

.attribution a {
  text-decoration: none;
  color: gray;
}

/* Small Beakpoint */

@media screen and (min-width: 450px) {
  /* Hero Styling */
  .social-icons a {
    width: 10%;
  }
}

/* Mid Breakpoint */

@media screen and (min-width: 650px) {
  /* Hero Styling */

  .wrapper h2 {
    right: 3%;
  }

  .wrapper p {
    right: 6%;
  }

  .social-icons a {
    width: 8%;
  }

  /* Project Styling */

  .card {
    max-height: 250px;
    grid-template-rows: 100%;
    grid-template-columns: 45% 55%;
  }

  .card h3 {
    font-size: 2em;
  }

  .card p {
    font-size: 1.1em;
  }

  .cta-btn {
    height: 25%;
  }
}

/* Desktop and Up Breakpoint */

@media screen and (min-width: 900px) {
  /* Nav Styling */

  nav {
    height: 15vh;
    background: linear-gradient(90deg, var(--primary) 50%, var(--bg-color) 50%);
  }

  .nav-links {
    height: 15vh;
    width: 60%;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    top: 0;
    left: 20%;
    background-color: inherit;
  }

  .nav-links li {
    opacity: 1;
    bottom: 0;
  }

  .nav-links a {
    font-weight: 700;
    font-size: 1.2em;
  }

  .burger {
    display: none;
  }

  /* Hero Styling */

  main {
    margin-bottom: 20px;
  }

  .wrapper {
    background: linear-gradient(90deg, var(--primary) 50%, var(--bg-color) 50%);
  }

  .wrapper h1,
  .wrapper h2,
  .wrapper p {
    bottom: 5%;
  }

  .wrapper h2 {
    right: 2%;
  }

  .wrapper p {
    right: 4%;
  }

  .social-icons {
    flex-direction: column;
    width: 45px;
    height: 30%;
    position: absolute;
    right: 5%;
    top: 40vh;
  }

  .social-icons a {
    width: 55%;
  }

  .icon-border {
    border: 2px solid black;
    border-radius: 25px;
    width: 35px;
    height: 20px;
    text-indent: 5px;
    font-weight: 700;
    transform: rotate(90deg);
    line-height: 0.9;
    overflow: hidden;
  }

  .firstLine {
    height: 2px;
    width: 12px;
    background: black;
    transform: rotate(50deg);
    border-radius: 25px;
    position: relative;
    top: 15px;
    left: 8px;
  }

  .secondLine {
    height: 2px;
    width: 12px;
    border-radius: 25px;
    background: black;
    transform: rotate(-52deg);
    position: relative;
    top: 13px;
    left: 15px;
  }

  .mouse-icon {
    height: 50px;
    padding-top: 8px;
    position: relative;
    top: 10%;
    display: block;
    animation-name: bounce;
    animation-timing-function: ease;
    animation-iteration-count: infinite;
    animation-duration: 1.2s;
  }

  @keyframes bounce {
    0% {
      transform: translateY(0);
    }
    10% {
      transform: translateY(0);
    }
    30% {
      transform: translateY(-12px);
    }
    50% {
      transform: translateY(0);
    }
    60% {
      transform: translateY(-6px);
    }
    68% {
      transform: translateY(0);
    }
    100% {
      transform: translateY(0);
    }
  }

  /* Project Styling */

  .projects {
    min-height: 100vh;
  }

  .card-content {
    padding-top: 10px;
  }

  .card h3 {
    font-size: 1.7em;
  }

  .card p {
    font-size: 1.1em;
  }

  .card-img img {
    object-fit: cover;
  }

  .launch {
    height: 20%;
    width: 40%;
    margin-top: 10px;
    padding-top: 5px;
  }

  .cta-card {
    max-height: 250px;
  }

  /* Footer Styling */
  footer {
    grid-template-columns: repeat(2, 50%);
  }

  .explore a,
  .explore h5 {
    margin-left: 30%;
  }
}
